# HTTPS-Reverse-Proxy für Feuerwehr-Manager (LAN)
# Standard-Hostname im lokalen DNS (z. B. UniFi/AdGuard DNS Rewrite):
#   fw-manager.home.arpa -> 192.168.10.123
#
# Für öffentliche Domain + Let's Encrypt: siehe Caddyfile.domain.example

{
	admin off
}

http://fw-manager.home.arpa {
	redir https://fw-manager.home.arpa{uri} permanent
}

https://fw-manager.home.arpa {
	tls internal
	encode gzip
	reverse_proxy app:8080
}
