<div xmlns:th="http://www.thymeleaf.org" class="einsatzbericht-modal-root einsatzbericht-form-page"
     data-berichte-form="geraetewart"
     th:attr="data-title=${modalTitle},
              data-can-edit=${canEditReport},
              data-report-id=${report.id}">
  <meta name="berichte-api-base" content="/berichte/geraetewartmitteilungen"/>
  <div id="einsatzbericht-view" class="einsatzbericht-form--view">
    <th:block th:replace="~{fragments/berichte-geraetewart-form :: form(formMode='view')}"></th:block>
  </div>
</div>
